Job: "ZprimeExample"
  Label: "Zprime"
  CmeLabel: "100 TeV"
  LumiLabel: "30 ab^{-1}"
  POI: "SigXsecOverSM"
  ReadFrom: HIST
  HistoPath: "/afs/cern.ch/user/h/helsens/FCCsoft/HiggsAnalysisFCC/analyses/analysis_zpmumu/root_masscut/"
  DebugLevel: 0
  SystControlPlots: TRUE
  Lumi: 0.01
  CustomAsimov: TRUE

Fit: "myFit"
  FitType: SPLUSB
  FitRegion: CRSR
  UseMinos: SigXsecOverSM

Limit: "limit"
  LimitType: ASYMPTOTIC
%   LimitBlind: TRUE
%   POIAsimov: 0
  SignalInjection: TRUE

Region: "SR"
  Type: SIGNAL
  HistoFile: "histos_30000fb"    
  VariableTitle: "m_{Zprime} [GeV]"
  Label: "Signal Region"
  ShortLabel: "SR"
  Rebin:10
  LogScale:TRUE

Sample: "Data"
  Title: "Data 2030"
  Type: DATA
  HistoFile: "histos_30000fb"    
  HistoName: "DY_sel0_mzpl"
  NormalizedByTheory:TRUE 
  LumiScale:0.01

Sample: "Bkg"
  Type: BACKGROUND
  Title: "Background"
  FillColor: 400
  LineColor: 1
  HistoFile: "histos_30000fb"    
  HistoName: "DY_sel0_mzpl"
  NormalizedByTheory:TRUE 

Sample: "Signal"
  Type: SIGNAL
  Title: "Signal"
  FillColor: 632
  LineColor: 632
  NormFactor: "SigXsecOverSM",1,0,100
  HistoFile: "histos_30000fb"
  HistoName: "Zprime_10TeV_sel0_mzpl"
  NormalizedByTheory:TRUE 

NormFactor: "SigXsecOverSM"
  Title: "#mu(Zprime)"
  Nominal: 1
  Min: -100
  Max: 100
  Samples: Signal
  Category: Theory

Systematic: "BkgXsec"
  Title: "Backgr. 1 Cross-Section"
  Type: OVERALL
  OverallUp: 0.50
  OverallDown: -0.50
  Samples: Bkg
  Category: Drell Yann uncertainty
  Regions: SR
