MultiFit: "Zprime_ll_10TeV"
  OutputDir: Outputs/combined_cms/Zprime/ll/
  Label: "t#bar{t}H Lepton+jets"
  Combine: TRUE
  Compare: FALSE
  CmeLabel: "100 TeV"
  LumiLabel: "30 ab^{-1}"
  POIRange: -100,100
  Combine: TRUE
  DataName: "asimovData"

Fit: "SR-ee"
  ConfigFile: config_FCC/Zprime_ll_cms/Zprime_ee_10TeV.config
  Label: "SR-ee"
  
Fit: "SR-mumu"
  ConfigFile: config_FCC/Zprime_ll_cms/Zprime_mumu_10TeV.config
  Label: "SR-mumu"
