MultiFit: "ttH2015_CRvsSR"
  OutputDir:Outputs/Zprime/ll/
  Label: "t#bar{t}H Lepton+jets"
  Combine: TRUE
  Compare: TRUE
  CmeLabel: "100 TeV"
  LumiLabel: "30 ab^{-1}"
  #ComparePOI: TRUE
  #ComparePulls: TRUE
  #CompareLimits: TRUE
  POIRange: -10,30
  ShowObserved: TRUE
  DataName: "asimovData"   % asimovData
  Combine: TRUE

Fit: "CR"
  ConfigFile: config_FCC/Zprime_ll/Zprime_ee_5TeV.config
  Label: "CR-only"
  
Fit: "SR"
  ConfigFile: config_FCC/Zprime_ll/Zprime_mumu_5TeV.config
  Label: "SR"
