Job: "Zprime_ll_40TeV"
  Label: "Zprime"
  CmeLabel: "100 TeV"
  LumiLabel: "30 ab^{-1}"
  POI: "SigXsecOverSM"
  ReadFrom: HIST
  %HistoPath: "/afs/cern.ch/user/h/helsens/FCCsoft/HiggsAnalysisFCC/analyses/analysis_zpmumu/root_masscut/"
  DebugLevel: 0
  SystControlPlots: TRUE
  Lumi: 1
  CustomAsimov: TRUE

Fit: "myFit"
  FitType: SPLUSB
  FitRegion: CRSR
  UseMinos: SigXsecOverSM

Limit: "limit"
  LimitType: ASYMPTOTIC
%   LimitBlind: TRUE
%   POIAsimov: 0
  SignalInjection: TRUE


Region: "SR_ee"
  Type: SIGNAL
  HistoPathSuff:"/afs/cern.ch/user/h/helsens/FCCsoft/HiggsAnalysisFCC/analyses/analysis_zpee/root_masscut/"
  HistoFile: "histos_30000fb"    
  VariableTitle: "m_{Zprime} [GeV]"
  Label: "Signal Region ee"
  ShortLabel: "SR_ee"
  Rebin:10
  LogScale:TRUE


Region: "SR_mumu"
  Type: SIGNAL
  HistoPathSuff:"/afs/cern.ch/user/h/helsens/FCCsoft/HiggsAnalysisFCC/analyses/analysis_zpmumu/root_masscut/"
  HistoFile: "histos_30000fb"    
  VariableTitle: "m_{Zprime} [GeV]"
  Label: "Signal Region mumu"
  ShortLabel: "SR_mumu"
  Rebin:10
  LogScale:TRUE


Sample: "Data_ee"
  Title: "Data 2030 ee"
  Type: DATA
  HistoFile: "histos_30000fb"    
  HistoName: "DY_sel0_mzp"
  NormalizedByTheory:TRUE 
  LumiScale:1
  Regions:"SR_ee"
  
Sample: "DY_ee"
  Type: BACKGROUND
  Title: "Drell-Yann ee"
  FillColor:920 
  LineColor: 1
  HistoFile: "histos_30000fb"    
  HistoName: "DY_sel0_mzp"
  NormalizedByTheory:TRUE 
  Regions:"SR_ee"

Sample: "Signal_ee"
  Type: SIGNAL
  Title: "Signal_ee"
  FillColor: 630
  LineColor: 630
  NormFactor: "SigXsecOverSM",1,0,100
  HistoFile: "histos_30000fb"
  HistoName: "Zprime_40TeV_sel0_mzp"
  NormalizedByTheory:TRUE 
  Regions:"SR_ee"

NormFactor: "SigXsecOverSM"
  Title: "#mu(Zprime)"
  Nominal: 1
  Min: -1000
  Max: 1000
  Samples: Signal_ee
  Category: Theory

Systematic: "BkgXsec"
  Title: "Backgr. 1 Cross-Section"
  Type: OVERALL
  OverallUp: 0.50
  OverallDown: -0.50
  Samples: DY_ee
  Category: Drell Yann uncertainty
  Regions: SR_ee


Sample: "Data_mumu"
  Title: "Data 2030"
  Type: DATA
  HistoFile: "histos_30000fb"    
  HistoName: "DY_sel0_mzp"
  NormalizedByTheory:TRUE 
  LumiScale:1
  Regions:"SR_mumu"

Sample: "DY_mumu"
  Type: BACKGROUND
  Title: "Drell-Yann-mumu"
  FillColor: 920
  LineColor: 1
  HistoFile: "histos_30000fb"    
  HistoName: "DY_sel0_mzp"
  NormalizedByTheory:TRUE 
  Regions:"SR_mumu"

Sample: "Signal_mumu"
  Type: SIGNAL
  Title: "Signal_mumu"
  FillColor: 630
  LineColor: 630
  NormFactor: "SigXsecOverSM",1,0,100
  HistoFile: "histos_30000fb"
  HistoName: "Zprime_40TeV_sel0_mzp"
  NormalizedByTheory:TRUE 
  Regions:"SR_mumu"

NormFactor: "SigXsecOverSM"
  Title: "#mu(Zprime)"
  Nominal: 1
  Min: -1000
  Max: 1000
  Samples: Signal_mumu
  Category: Theory

Systematic: "BkgXsec"
  Title: "Backgr. 1 Cross-Section"
  Type: OVERALL
  OverallUp: 0.50
  OverallDown: -0.50
  Samples: DY_mumu
  Category: Drell Yann uncertainty
  Regions: SR_mumu
