Job: "Zprime_mumu_45TeV"
  OutputDir:Outputs/cms/Zprime/mumu/
  Label: "Zprime"
  CmeLabel: "100 TeV"
  LumiLabel: "30 ab^{-1}"
  POI: "SigXsecOverSM"
  ReadFrom: HIST
  HistoPath: "/afs/cern.ch/user/h/helsens/FCCsoft/FlatTreeAnalyzer/outputs/analysis_cms/zpmumu/root_mZ_45TeV/"
  DebugLevel: 0
  SystControlPlots: TRUE
  Lumi: 30000000
  MCstatThreshold: 0.05
  FCCLabel:"Simulation"

Fit: "fit"
  FitType: SPLUSB
  FitRegion: CRSR
  UseMinos: SigXsecOverSM

Limit: "limit"
  LimitType: ASYMPTOTIC
  POIAsimov: 0

Region: "SR-mumu"
  Type: SIGNAL
  HistoFile: "histos"    
  VariableTitle: "m_{Zprime} [GeV]"
  Label: "Signal Region"
  ShortLabel: "SR-mumu"
  Rebin:10
  LogScale:TRUE

Sample: "DrellYann"
  Type: BACKGROUND
  Title: "Drell-Yann"
  FillColor: 400
  LineColor: 1
  HistoFile: "histos"
  HistoName: "Drell-Yann_sel0_mzp"
  NormalizedByTheory:TRUE 

Sample: "Zprime"
  Type: SIGNAL
  Title: "Z\'"
  FillColor: 632
  LineColor: 632
  HistoFile: "histos"
  HistoName: "m_{Z} = 45 TeV_sel0_mzp"
  NormalizedByTheory:TRUE 

NormFactor: "SigXsecOverSM"
  Title: "#mu(Zprime)"
  Nominal: 1
  Min: -1000
  Max: 1000
  Samples: Zprime
  Category: Theory

Systematic: "DrellYannXsec"
  Title: "Drell-Yann Cross section"
  Type: OVERALL
  OverallUp: 0.50
  OverallDown: -0.50
  Samples: DrellYann
  Category: Drell Yann uncertainty
  Regions: SR
