Job: "Zprime_tt_15TeV"
  OutputDir:Outputs/fcc_v01/Zprime/tt/
  Label: "Zprime"
  CmeLabel: "100 TeV"
  LumiLabel: "10 ab^{-1}"
  POI: "SigXsecOverSM"
  ReadFrom: HIST
  HistoPath: "/afs/cern.ch/user/r/rasmith/fcc/FlatTreeAnalyzer/final/root_mZ_15TeV"
  DebugLevel: 0
  SystControlPlots: TRUE
  Lumi: 10000000
  MCstatThreshold: 0.05
  FCCLabel="Simulation"

Fit: "fit"
  FitType: SPLUSB
  FitRegion: CRSR
  UseMinos: SigXsecOverSM

Limit: "limit"
  LimitType: ASYMPTOTIC
  POIAsimov: 0

Region: "SR"
  Type: SIGNAL
  HistoFile: "histos"    
  VariableTitle: "m_{Zprime} [GeV]"
  Label: "Signal Region"
  ShortLabel: "SR"
  Rebin:10
  LogScale:TRUE

Sample: "vv"
  Type: BACKGROUND
  Title: "VV"
  FillColor: 800
  LineColor: 800
  HistoFile: "histos"
  HistoName: "vv_sel0_zPrimeReconstructedMass"
  NormalizedByTheory:TRUE

Sample: "tt"
  Type: BACKGROUND
  Title: "t\bar{t}"
  FillColor: 92
  LineColor: 92
  HistoFile: "histos"
  HistoName: "tt_sel0_zPrimeReconstructedMass"
  NormalizedByTheory:TRUE 

Sample: "Zprime"
  Type: SIGNAL
  Title: "Z\'"
  FillColor: 632
  LineColor: 632
  HistoFile: "histos"
  HistoName: "m_{Z} = 15 TeV_sel0_zPrimeReconstructedMass"
  NormalizedByTheory:TRUE 

NormFactor: "SigXsecOverSM"
  Title: "#mu(Zprime)"
  Nominal: 1
  Min: -1000
  Max: 1000
  Samples: Zprime
  Category: Theory

Systematic: "tt_xsec"
  Title: "t\bar{t} Cross section"
  Type: OVERALL
  OverallUp: 0.10
  OverallDown: -0.10
  Samples: tt 
  Category: tt uncertainty
  Regions: SR

Systematic: "vv_xsec"
  Title: "VV Cross section"
  Type: OVERALL
  OverallUp: 0.10
  OverallDown: -0.10
  Samples: vv
  Category: dijet uncertainty
  Regions: SR
